<a href="https://colab.research.google.com/github/YOUNGitacina/Data-mining-course/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data understanding

In [1]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

from collections import defaultdict
from scipy.stats.stats import pearsonr

Loading the dataset

In [22]:
df_baskets = pd.read_csv('/content/drive/MyDrive/DM_project/DM_TASK1/Data/baskets_supermarket.csv')
df_item_cate = pd.read_csv('/content/drive/MyDrive/DM_project/DM_TASK1/Data/item_categories.csv',index_col=1)
df_item = pd.read_csv('/content/drive/MyDrive/DM_project/DM_TASK1/Data/items.csv',index_col=1)

In [30]:
df_baskets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504087 entries, 0 to 504086
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    504087 non-null  int64
 1   date          352861 non-null  object
 2   shop_id       469023 non-null  float64
 3   item_id       405085 non-null  float64
 4   item_price    451795 non-null  float64
 5   item_cnt_day  497039 non-null  float64
 6   user_id       433351 non-null  float64
 7   basket_id     437967 non-null  object
dtypes: float64(5), int64(1), object(2)
memory usage: 30.8+ MB

In [24]:
df_item_cate

                         item_category_name
item_category_id
0                   PC - Гарнитуры/Наушники
1                          Аксессуары - PS2
2                          Аксессуары - PS3
3                          Аксессуары - PS4
4                          Аксессуары - PSP
...                                     ...
79                                Служебные
80                       Служебные - Билеты
81                  Чистые носители (шпиль)
82                Чистые носители (штучные)
83                         Элементы питания

[84 rows x 1 columns]

In [25]:
df_item

                                                 item_name  item_category_id
item_id
0                ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D                40
1        !ABBYY FineReader 12 Professional Edition Full...                76
2            ***В ЛУЧАХ СЛАВЫ   (UNV)                    D                40
3          ***ГОЛУБАЯ ВОЛНА  (Univ)                      D                40
4              ***КОРОБКА (СТЕКЛО)                       D                40
...                                                    ...               ...
22165               Ядерный титбит 2 [PC, Цифровая версия]                31
22166      Язык запросов 1С:Предприятия  [Цифровая версия]                54
22167    Язык запросов 1С:Предприятия 8 (+CD). Хрустале...                49
22168                                  Яйцо для Little Inu                62
22169                        Яйцо дракона (Игра престолов)                69

[22170 rows x 2 columns]

In [12]:
df_baskets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504087 entries, 0 to 504086
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    504087 non-null  int64
 1   date          352861 non-null  object
 2   shop_id       469023 non-null  float64
 3   item_id       405085 non-null  float64
 4   item_price    451795 non-null  float64
 5   item_cnt_day  497039 non-null  float64
 6   user_id       433351 non-null  float64
 7   basket_id     437967 non-null  object
dtypes: float64(5), int64(1), object(2)
memory usage: 30.8+ MB

In [28]:
join_df_item=df_item.join(df_item_cate, on='item_category_id')

In [29]:
join_df_item

,item_name,item_category_id,item_category_name
item_id,,,
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,40,Кино - DVD
1,!ABBYY FineReader 12 Professional Edition Full...,76,Программы - Для дома и офиса (Цифра)
2,***В ЛУЧАХ СЛАВЫ (UNV) D,40,Кино - DVD
3,***ГОЛУБАЯ ВОЛНА (Univ) D,40,Кино - DVD
4,***КОРОБКА (СТЕКЛО) D,40,Кино - DVD
...,...,...,...
22165,"Ядерный титбит 2 [PC, Цифровая версия]",31,Игры PC - Цифра
22166,Язык запросов 1С:Предприятия [Цифровая версия],54,Книги - Цифра
22167,Язык запросов 1С:Предприятия 8 (+CD). Хрустале...,49,Книги - Методические материалы 1С
22168,Яйцо для Little Inu,62,"Подарки - Гаджеты, роботы, спорт"
22169,Яйцо дракона (Игра престолов),69,Подарки - Сувениры

Warning: total number of rows (22170) exceeds max_rows (20000). Limiting to first (20000) rows.